<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Error</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ENjdO4Dr2bkBIFxQpeo3MmAa7x7x1A1rX4NfhZGwr2aUZv3ozXSoq2nzDQ95D6w+" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-pp6WNno58Q7z0bkIVkI6df4qkg2cdK7R+lv4U/1p6F1XUllq3zhx8Xf6VOZoJp+0" crossorigin="anonymous"></script>

    </head>
    <body>
        <h1>Erro</h1>
        <p>${errorMessage}</p>
    </body>
</html>
